/* Figma Styles of your File */:root {
  /* Colors */
  --jburton321-owner-mar-mthabolthost-athens-gray: #fff7ed;
  --jburton321-owner-mar-mthabolthost-athens-gray: #f9fafc;
  --jburton321-owner-mar-mthabolthost-athens-gray: #e5e7eb;
  --jburton321-owner-mar-mthabolthost-athens-gray: #fff7ed;
  --jburton321-owner-mar-mthabolthost-athens-gray: #fff7ed;
  --jburton321-owner-mar-mthabolthost-athens-gray: #fff7ed;
  --jburton321-owner-mar-mthabolthost-blue-chill: #0d9488;
  --jburton321-owner-mar-mthabolthost-catskill-white: #fff7ed;
  --jburton321-owner-mar-mthabolthost-catskill-white: #f9fafc;
  --jburton321-owner-mar-mthabolthost-catskill-white: #f9fafc;
  --jburton321-owner-mar-mthabolthost-catskill-white: #fff7ed;
  --jburton321-owner-mar-mthabolthost-catskill-white: #fff7ed;
  --jburton321-owner-mar-mthabolthost-catskill-white: #fff7ed;
  --jburton321-owner-mar-mthabolthost-christine: #ea580c;
  --jburton321-owner-mar-mthabolthost-ebony-clay: #1f2937;
  --jburton321-owner-mar-mthabolthost-ecstasy: #f97316;
  --jburton321-owner-mar-mthabolthost-eden: #134e4a;
  --jburton321-owner-mar-mthabolthost-eden: #0e5e58;
  --jburton321-owner-mar-mthabolthost-gray-chateau: #9ca3af;
  --jburton321-owner-mar-mthabolthost-macaroni-and-cheese: #fdba74;
  --jburton321-owner-mar-mthabolthost-neon-carrot: #fb923c;
  --jburton321-owner-mar-mthabolthost-oxford-blue: #374151;
  --jburton321-owner-mar-mthabolthost-pale-sky: #6b7280;
  --jburton321-owner-mar-mthabolthost-river-bed: #4b5563;
  --jburton321-owner-mar-mthabolthost-serenade: #fff7ed;
  --jburton321-owner-mar-mthabolthost-surfie-green: #0e827a;
  --jburton321-owner-mar-mthabolthost-surfie-green: #0f766e;
  --jburton321-owner-mar-mthabolthost-tia-maria: #c2410c;
  --jburton321-owner-mar-mthabolthost-turquoise-blue: #5eead4;
  --jburton321-owner-mar-mthabolthost-white: #ffffff;
  --jburton321-owner-mar-mthabolthost-white-02: rgba(255, 255, 255, 0.00);
  --jburton321-owner-mar-mthabolthost-white-10: rgba(255, 255, 255, 0.10);
  --jburton321-owner-mar-mthabolthost-white-20: rgba(255, 255, 255, 0.20);
  --jburton321-owner-mar-mthabolthost-white-30: rgba(255, 255, 255, 0.30);
  --jburton321-owner-mar-mthabolthost-white-70: rgba(255, 255, 255, 0.70);
  --jburton321-owner-mar-mthabolthost-white-90: rgba(255, 255, 255, 0.90);
  --jburton321-owner-mar-mthabolthost-white-ice: #f0fdfa;

  /* Fonts */
  --jburton321-owner-mar-mthabolthost-semantic-button-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-button-font-size: 18px;
  --jburton321-owner-mar-mthabolthost-semantic-button-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-semantic-button-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-button-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-size: 23.600000381469727px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-line-height: 32px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-size: 29.600000381469727px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-line-height: 36px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-size: 23.799999237060547px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-line-height: 32px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-1-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-size: 19.200000762939453px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-size: 23.299999237060547px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-line-height: 32px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-size: 23.399999618530273px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-line-height: 32px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-size: 23.799999237060547px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-line-height: 32px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-upper-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-upper-font-size: 20px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-upper-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-upper-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-2-upper-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 11.399999618530273px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 11.600000381469727px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 11.800000190734863px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 13.300000190734863px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 13.5px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 13.800000190734863px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 15.300000190734863px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 24px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 15.600000381469727px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 24px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 15.899999618530273px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 24px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 16px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 24px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.100000381469727px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 25px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.100000381469727px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.200000762939453px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.200000762939453px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 25px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.399999618530273px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 25px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.399999618530273px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.5px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.5px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 25px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.700000762939453px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-size: 19.799999237060547px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-semantic-heading-3-font-style: normal;
  --jburton321-owner-mar-mthabolthost-semantic-link-underline-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-semantic-link-underline-font-size: 11.300000190734863px;
  --jburton321-owner-mar-mthabolthost-semantic-link-underline-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-semantic-link-underline-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-semantic-link-underline-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 15px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 15.100000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 15.399999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 17px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 29.299999237060547px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 36px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-size: 10px;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-line-height: 15px;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-size: 12px;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-size: 12px;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-size: 14px;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-upper-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 9.199999809265137px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 15px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 10.899999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 11.100000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 19.5px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 11.100000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 11.300000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 19.5px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 11.300000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 11.600000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 12px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 12.899999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 22.75px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 13px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 22.75px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 13px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 11.399999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 13.100000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 22.75px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 13.199999809265137px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 13.300000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 14.600000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 13.100000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 14.800000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-size: 14.899999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-regular-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 13.300000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 13.600000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 13.699999809265137px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 13.800000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 14px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 14.800000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 14.899999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 15px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 15.100000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 15.100000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 24px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 15.300000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 15.399999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 24px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 15.600000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 24px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 15.800000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 26px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 18px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 20px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 28px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 21.600000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 32px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 23.100000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 32px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 23.299999237060547px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 30px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 28.899999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 36px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 12px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 12px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 13.100000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 13.199999809265137px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-font-size: 11.399999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-font-size: 13.300000190734863px;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-line-height: 20px;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-strikethrough-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-regular-upper-font-family: Inter-Regular, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-regular-upper-font-size: 12px;
  --jburton321-owner-mar-mthabolthost-inter-regular-upper-line-height: 19.5px;
  --jburton321-owner-mar-mthabolthost-inter-regular-upper-font-weight: 400;
  --jburton321-owner-mar-mthabolthost-inter-regular-upper-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 11.600000381469727px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-family: Inter-Bold, sans-serif;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-size: 11.399999618530273px;
  --jburton321-owner-mar-mthabolthost-inter-bold-line-height: 16px;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-weight: 700;
  --jburton321-owner-mar-mthabolthost-inter-bold-font-style: normal;

  /* Effects */

}
/* Figma Color Variables of your File */[data-jburton321-owner-mar-mthabolthost-mode=mode-1] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-grey-96: #fff7ed;
  --color-cyan-19: #134e4a;
  --color-azure-34: #4b5563;
  --color-white-02: rgba(255, 255, 255, 0.00);
  --color-cyan-21: #0e5e58;
  --color-white-10: rgba(255, 255, 255, 0.10);
  --color-white-70: rgba(255, 255, 255, 0.70);
  --color-orange-53: #f97316;
  --color-white-20: rgba(255, 255, 255, 0.20);
  --color-orange-48: #ea580c;
  --color-azure-17: #1f2937;
  --color-cyan-40: #14b8a6;
  --color-cyan-40-0: rgba(20, 184, 166, 0.00);
  --color-grey-97: #f0fdfa;
  --color-cyan-32: #0d9488;
  --color-azure-27: #374151;
  --color-orange-53-0: rgba(249, 115, 22, 0.00);
  --color-cyan-28: #0e827a;
  --color-cyan-26: #0f766e;
  --color-grey-98: #f9fafc;
  --color-grey-91: #e5e7eb;
  --color-grey-46: #6b7280;
  --color-azure-65: #9ca3af;
  --color-cyan-78: #99f6e4;
  --color-orange-83: #fed7aa;
  --color-orange-40: #c2410c;
  --color-white-30: rgba(255, 255, 255, 0.30);
  --color-white-90: rgba(255, 255, 255, 0.90);
  --color-black-70: rgba(0, 0, 0, 0.70);
  --color-black-30: rgba(0, 0, 0, 0.30);
  --color-black-0: rgba(0, 0, 0, 0.00);
  --color-black-80: rgba(0, 0, 0, 0.80);
  --color-black-40: rgba(0, 0, 0, 0.40);
}

